<section class="about section">
  <div class="section-inner">
    <h2 class="heading">About Me</h2>
    <div class="content">
      <p>
        A Software Developer with 2+ years’ experience in developing
        applications using C#, JavaScript, Angular and SQL. I work in a scrum
        team of experienced developers (C# and SQL) and testers, which I
        continuously learn from. I enjoy a big deal of trying at all times to
        write a clean code using Test-Driven Development (TDD). Interested in
        learning more about software design patterns, principles, technologies,
        best practices and whole lot of things that improves my development
        expertise.
      </p>
      <p>
        I dedicate most of my spare time learning about software philosophies
        and coding principles using katas, toy projects and side projects, which
        enables me to practice and apply my skills in a relaxed environment.
        <a href="https://github.com/McebisiMK" target="_blank"
          >See my GitHub Account</a
        >
      </p>
      <p>
        I like taking on new challenges because I believe it is a way of
        learning and developing as well as getting out of comfort zone in which
        you get exposure and understanding of different techniques and tools.
      </p>
    </div>
  </div>
</section>
