<ul class="social list-inline">
  <li class="list-inline-item">
    <a href="https://twitter.com/mce_PREDATOR"
      ><i class="fab fa-twitter"></i
    ></a>
  </li>
  <li class="list-inline-item">
    <a href="https://join.skype.com/invite/biL34CZ6wvFW"
      ><i class="fab fa-skype"></i
    ></a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.linkedin.com/in/mcebisi-mkhohliwe-99362411a/">
      <i class="fab fa-linkedin-in"></i
    ></a>
  </li>
  <li class="list-inline-item">
    <a href="https://github.com/McebisiMK/"><i class="fab fa-github"></i></a>
  </li>
  <li class="list-inline-item">
    <a href="https://www.facebook.com/mcebisi.mkhohliwe">
      <i class="fab fa-facebook-f"></i
    ></a>
  </li>
</ul>
