<aside class="languages aside section">
  <div class="section-inner">
    <h2 class="heading">Languages</h2>
    <div class="content">
      <ul class="list-unstyled">
        <li class="item">
          <span class="title"><strong>English:</strong></span>
          <span class="level">
            Fluent <br class="visible-xs" /><i class="fas fa-star"></i>
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
          </span>
        </li>
        <li class="item">
          <span class="title"><strong>IsiXhosa:</strong></span>
          <span class="level">
            Native Speaker <br class="visible-xs" /><i class="fas fa-star"></i>
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
          </span>
        </li>
        <li class="item">
          <span class="title"><strong>IsiZulu:</strong></span>
          <span class="level">
            Professional Proficiency <br class="visible-xs" /><i
              class="fas fa-star"
            ></i>
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i> <i class="fas fa-star-half"></i>
          </span>
        </li>
        <li class="item">
          <span class="title"><strong>Sesotho:</strong></span>
          <span class="level">
            Intermediate <br class="visible-xs" /><i class="fas fa-star"></i>
            <i class="fas fa-star"></i> <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </span>
        </li>
        <li class="item">
          <span class="title"><strong>Sepedi:</strong></span>
          <span class="level">
            Basic <br class="visible-xs" /><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </span>
        </li>
      </ul>
    </div>
  </div>
</aside>
