<section class="latest section">
  <div class="section-inner">
    <h2 class="heading">Latest Projects</h2>
    <div class="content">
      <div class="item featured text-center">
        <h3 class="title">
          <a
            href="https://github.com/McebisiMK/TournamentManagement"
            target="_blank"
            >TournamentManagement</a
          >
        </h3>
        <p class="summary">
          C# Web API with Angular front-end for managing local registered soccer teams.
        </p>
        <div class="featured-image has-ribbon">
            <img
              class="img-fluid project-image"
              src="assets/images/projects/project-featured.jpg"
              alt="project name"
            />
          <!-- </a> -->
          <div class="ribbon">
            <div class="text">New</div>
          </div>
        </div>

        <div class="desc text-left">
          <p>
            C# .Net Core Web API with Angular font-end for managing soccer
            tournaments by registering teams to participate in a certain
            tournament which is done by paying minimum joining fee.
          </p>
          <p>
            <a
              class="more-link"
              href="https://github.com/McebisiMK/TournamentManagement"
              target="_blank"
              ><i class="fas fa-external-link-alt"></i>Find out more</a
            >
          </p>
        </div>
      </div>
      <hr class="divider" />

      <div class="item row">
        <a
          class="col-md-4 col-12"
          target="_blank"
        >
          <img
            class="img-fluid project-image"
            src="assets/images/projects/project-1.png"
            alt="project name"
          />
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">
            <a href="https://github.com/McebisiMK/Magic_Square" target="_blank"
              >Magic Square Kata</a
            >
          </h3>
          <p class="mb-2">
            A square is considered a Magic Square if the sum of numbers in each
            row, column and diagonal is equal in all directions.
          </p>
          <p>
            <a
              class="more-link"
              href="https://github.com/McebisiMK/Magic_Square"
              target="_blank"
              ><i class="fas fa-external-link-alt"></i>Find out more</a
            >
          </p>
        </div>
        <!--//desc-->
      </div>
      <!--//item-->
      <hr class="divider" />

      <div class="item row">
        <a
          class="col-md-4 col-12"
          target="_blank"
        >
          <img
            class="img-fluid project-image"
            src="assets/images/projects/project-2.JPG"
            alt="project name"
          />
        </a>
        <div class="desc col-md-8 col-12">
          <h3 class="title">
            <a
              href="https://github.com/McebisiMK/CRUD-Operations"
              target="_blank"
              >.Net Core MVC CRUD Operations</a
            >
          </h3>
          <p class="mb-2">
            .Net Core MVC application with Razor pages using Entity Framework
            Core, Generic Repository pattern, .Net Core Dependency Injection.
          </p>
          <p>
            <a
              class="more-link"
              href="https://github.com/McebisiMK/CRUD-Operations"
              target="_blank"
              ><i class="fas fa-external-link-alt"></i>Find out more</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
