<app-header></app-header>
<div class="container sections-wrapper">
  <div class="row">
    <div class="primary col-8">
      <app-about-me></app-about-me>
      <app-projects></app-projects>
      <app-experience></app-experience>
    </div>
    <div class="secondary col-4">
      <app-basic-info></app-basic-info>
      <app-skills></app-skills>
      <app-education></app-education>
      <app-certificates></app-certificates>
      <app-language></app-language>
      <app-conferences></app-conferences>
    </div>
  </div>
</div>
<app-footer></app-footer>
